body {background: linear-gradient(45deg, #cc2b5e , #753a88);}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

button.talk {
    padding: 6px 28px;
    border-radius: 5px;
    background: repeating-linear-gradient(45deg, #2193b0 , #6dd5ed);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    cursor: pointer;
}
button.talk:focus{
    border: none;
    outline: none;
}
h2 {
    color: #00BCD4;
    font-family: fangsong;
    font-size: 40px;
    text-shadow: 2px 11px 4px black;
}